:root {
  --color-body: hsl(46, 32%, 92%);
  --color-body-variant: hsl(36, 33%, 18%);
  --color-surface: ;
  --color-border: hsla(46, 32%, 92%, 0.25);

  --color-text: hsl(36, 33%, 18%);
  --color-text-variant: hsl(36, 30%, 52%);

  --color-alternative: hsl(0, 0%, 100%);

  --color-dominant: #24437e;
  --color-complementary: #b8d0ec;
  --color-accent: #f1f1e6;

  --color-success: ;
  --color-error: ;
  --color-warning: ;
}
// css custom properties used
// 60/30/10 rule
