@use "../util/" as u;

/* MENU*/
.menu {
  &__content {
    text-align: center;
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: u.rem(60);
    @include u.breakpoint(medium) {
      flex-direction: row;
    }
  }
  .pi-space-l-xl {
    @include u.breakpoint(medium) {
      padding-inline: 0;
    }
  }
  &__name-title {
    display: block;
    font-size: var(--step-0);
    margin-top: var(--space-2xs);
  }
  &__name-sub {
    display: block;
    color: var(--color-text-v);
    font-size: var(--step--1);
  }
  &__tag {
    color: var(--color-text-v);
    font-size: var(--step-0);
    margin-top: var(--space-s);
  }
}
/* 
画像拡大モーダル
*/
#js-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* コンテンツ全てに対して固定的に 1160pxとか指定されているときの対応で、ダサいが!importantつける */
  max-width: 100% !important;
  height: 100%;
  background: var(--color-body-variant);
  opacity: 0.8;
}
#js-modal img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  object-fit: contain;
}
